<div class="container mt-5">

    <h2>Ajouter un departement</h2>

    <div class="row">

        <div class="col-6 mx-auto">
            <form role="form" [formGroup]="depForm" (ngSubmit)="ajouter()">
                <div class="mb-3">
                    <label class="form-label" for="name">Nom departement</label>
                    <input formControlName="nom" type="text" [ngClass]="{ 'form-control': true, 'error': depForm.controls['nom'].touched && depForm.controls['nom'].invalid } " id="name" placeholder="">
                </div>   
                <div class="mb-3">
                    <label class="form-label" for="name">dep Description</label>
                    <textarea formControlName="description" [ngClass]="{ 'form-control': true, 'error': depForm.controls['description'].touched && depForm.controls['description'].invalid } " name="" id="" cols="30" rows="5"></textarea>
                </div>   
                <div class="mb-3">
                    <label class="form-label" for="name">Salle</label>
                    <input formControlName="salle" type="text" [ngClass]="{ 'form-control': true, 'error': depForm.controls['salle'].touched && depForm.controls['salle'].invalid } " id="name" placeholder="">
                </div>  

                <div class="mb-3">
                    <label class="form-label" for="name">Etage</label>
                    <input formControlName="etage" type="text" [ngClass]="{ 'form-control': true, 'error': depForm.controls['etage'].touched && depForm.controls['etage'].invalid } " id="name" placeholder="">
                </div>  

                <button [disabled]=" depForm.invalid " class="btn btn-primary form-control m-2">Ajouter</button>
            </form>
        </div>


    </div>

</div>